.inactive_bg {
    background-color: grey !important;
}

.inactive {
    pointer-events: none;
    cursor: not-allowed;
    color: hsl(0, 0, 80) !important;
}

.active {}

.hidden_label {
    visibility: hidden;
    display: block;
    height: 0;
    width: 0;
}

.form {
    margin: 0px 24px 24px 0px;
    display: flex;
    flex-direction: row;

    border-radius: var(--border-radius);
    border: 1px solid black;
    position: relative;
}

.form:focus-within {
    outline: 1px solid rgb(189, 165, 189);
}

.text {
    flex-grow: 2;
    border: none;
    margin: 12px;
}

.text:focus {
    outline: none;
}

.submit {
    width: 72px;
}

.resend {
    width: 142px;
}

.submit,
.resend {
    border-radius: var(--border-radius);
    border: 0;
    background-color: rgb(0, 125, 0);
    color: white;
    font-size: 16px;
    padding: 4px 12px 4px 12px;
    margin: 4px;

}

.submit:hover,
.resend:hover {
    background-color: rgb(14, 89, 34);
    color: hsl(0, 0, 80);
}

.submit:active,
.resend:active {
    background-color: rgb(19, 137, 101);

}