.main {
    max-width: var(--max-width);
    background-color: white;
    padding: 32px 24px 24px 24px;
    margin: auto;
    box-shadow: var(--shadow-900);
}

.header {
    grid-area: header;
    margin: 0 0 24px 0;
}

.content {
    grid-area: content;
}

.info {
    grid-area: info;
    border-top: 1px solid rgb(234, 230, 227);
    border-bottom: 1px solid rgb(234, 230, 227);
    padding: 4px 0px 4px 0px;
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
}

.info a:link,
.info a:visited {
    text-decoration: none;
    color: rgb(106, 98, 94);
}

.info a:hover {
    text-decoration: none;
    color: rgb(154, 137, 121);
}

.info a:active {
    text-decoration: none;
}

.spec {
    grid-area: spec;
}

@media (min-width: 848px) {}