.main {
    max-width: var(--max-width);
    background-color: white;
    padding: 32px 24px 24px 24px;
    margin: auto;
}

.header {
    grid-area: header;
    margin-top: 0;
}

.content {
    grid-area: content;
}

.info {
    grid-area: info;
}

.spec {
    grid-area: spec;
}

.code {
    font-family: var(--font-mono);
    margin: 4px 16px 8px 0px;
    padding: 8px 8px 8px 8px;
}

@media (min-width: 848px) {
    .main {
        display: grid;
        grid-template-columns: auto 300px;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header ."
            "content info"
            "spec info";
    }

    .info {
        border-left: 1px solid rgb(234, 230, 227);
        padding-left: 16px;
    }
}